@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html {
    height: 100%;
}

body {
    
    height: 100%;
    display: flex;
    flex-direction: column;
}
/*Footer*/
footer{
    position: relative;
    flex-shrink: 0;
    bottom: 0;
    width: 100%;
    background: #000;
    color:#fff;
    text-align: center;
    font-size: 00.87em;
    display: inline-block;
}

.content {
    flex: 1 0 auto;
}


.DesignFooter h3 {
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 0;

}

.DesignFooter .links li {
    margin-bottom: 10px;
    line-height: 1.5;
    display: block
}

.DesignFooter .links li a {
    color: #fff;
}

.DesignFooter .links li a:hover {
    text-decoration: overline;
}

.DesignFooter .footer-logo {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
}

.DesignFooter .footer-logo:hover{
    text-decoration: overline;
}

.DesignFooter .copyright {
    color: #fff;
}

.DesignFooter .cta {
    -webkit-box-shadow: -20px -20px 0 0 rgba(52, 58, 64, .2);
    box-shadow: -20px -20px 0 0 rgba(52, 58, 64, .2);
    padding: 20px;
    background-color: #8186d5;
    top: -150px;
    position: relative
}

.DesignFooter .cta h2,
.footer-20192 .cta h3 {
    line-height: 1.5
}

.DesignFooter .cta h3 {
    font-size: 20px
}

@media only screen and (max-width: 300px){

   a{
    font-size: 0.9em;
   }
   img{
    width: 40px;
   }

   nav img{
       height: 40px;
   }
}

/*Home Design*/

.container{
    position: relative;
    width: 1150px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.container p{
    font-size: 1.2em;
}
.container .card{
    font-size: 10px;
    position: relative;
    width: 300px;
    height: 420px;
    background: #fff;
    margin: 20px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 15px 25px rgba(0,0,0, 0.2);
    transition: 0.5s;
}

.container .card .circle{
    position: relative;
    width: 100%;
    height: 100%;
    background: #000;
    clip-path: circle(180px at center 0);
    text-align: center;
}

.container .card .circle h2{
    color: rgb(12, 11, 11);
    font-size: 4.5em;
    padding: 30px 0;
}

.container .card .content{
    position: absolute;
    bottom: 10px;
    padding: 20px;
    text-align: center;
}

.container .card .content p{
    color: #111010;
}

.container .card .content a{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background:#000 ;
    color: rgb(12, 11, 11);
    border-radius: 40px;
    text-decoration: none;
    margin-top: 20px;
}
.container .card:nth-child(1) .circle, .container .card:nth-child(1) .content a{
    background: #ffaf00;
}

.container .card:nth-child(2) .circle, .container .card:nth-child(2) .circle h2, .container .card:nth-child(2) .content a{
    background: #10e6c2;
}
.container .card:nth-child(3) .circle, .container .card:nth-child(3) .content a{
    background: #ddd9cd;
}

.container:hover .card{
    fill: blur(20px);
    transform: scale(1.1);
    
}
/* inicio css do formulario Cadastro*/

/* css do container*/
#containerform{
    font-size: 16px;
	width: 370px;
	margin: 0 auto;
}

/*Label Design*/
.label-float{
    position: relative;
    padding-top: 13px;
  }
  
  .label-float input{
    border-radius: 11px;
    outline: none;
    min-width: 350px;
    padding: 15px 20px;
    font-size: 16px;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -webkit-appearance:none;
  }
  
  .label-float input:focus{
    border: 2px solid #3951b2;
  }
  
  .label-float input::placeholder{
    color:transparent;
  }
  
  .label-float label{
    pointer-events: none;
    position: absolute;
    top: calc(50% - 8px);
    left: 15px;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    background-color: white;
    padding: 3px;
    box-sizing: border-box;
  }

  .label-float input:focus + label,
  .label-float input:not(:placeholder-shown) + label{
    font-size: 13px;
    top: 0;
    color: #3951b2;
  }

/* css do botão submit*/
.submit{
    
    flex-wrap: wrap;
	color: #fff;
	background-color: #f79300;
	border-color: 2px solid #db7d00;
	padding: 1px 20px;
	height: 45px;
	width: 90%;

	background: -webkit-linear-gradient(to bottom, #faa600, #f68a00);
	background: -moz-linear-gradient(to bottom, #faa600, #f68a00);
	background: -o-linear-gradient(to bottom, #faa600, #f68a00);
	background: linear-gradient(to bottom, #faa600, #f68a00);
}

/* fim css do formulario Cadastro*/

/* CSS do formulario adulto e criança*/

/* CSS de formatacao de label*/
label {
    padding: 8px 8px 8px 0;
    display: inline-block;
    font-weight: bold;    
}

/* CSS de formatacao das box type text*/
input[type=text], select, textarea{
    width: 30%;
    padding: 8px;    
    box-sizing: initial;
    resize: vertical;
    height: 15px;
}

.controlacontainer{
    width: 85%;
	border-radius: 10px;
	margin: 0 auto;
    margin-bottom: 10px;
	text-align: center;
	border: 1px groove #dbdbdb;
    padding-left: 10px;
    padding-bottom: 10px;
    background-color: rgb(238, 238, 227);
}
/* Fim de CSS formulario adulto e crianca*/

/*inicio css tabela de exibição de usuarios*/


.controlacontainer  h4{
    font-size: 1.3em;
}
.tabusers {
    margin: 30px 50px;
    text-align: center;
    vertical-align: middle;
}

.btnacao {
    display: inline-block;
    padding-right: 5px;
}
/*fim css tabela de exibição de usuarios*/

/* CSS Detalhes cadastro usuario*/

.controlcontainer{
    width: 100%;
	border-radius: 10px;
	margin: 0 auto;
    margin-bottom: 10px;
	text-align: left;
	border: 1px groove #dbdbdb;
    padding-left: 10px;
    padding-bottom: 10px;
}

.firstcont{
    margin-top: 20px;
}

.lastcont{
    margin-bottom: 20px;
}

.exibetitulo {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Fim Detalhas cadastro usuario*/

/* inicio css prontuarioatednimento.php cadastro usuario*/

.containerpront{
	width: 60%;
	border-radius: 10px;
	margin: 0 auto;
	margin-top: 30px;
    margin-bottom: 30px;
	text-align: center;
	border: 1px groove #dbdbdb;
}

.caixatexto {
	height: 40px;
	width: 80%;
	font-size: 18px;
	margin-bottom: 10px;
	background-color: #fff;
	padding-left: 40px;
	border: none;
	background-repeat: no-repeat;
	background-position: 10px;
}

.estilotxtarea {
    resize: none;
    width: 80%;
    height: 400px;
    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}
/* fim css prontuarioatednimento.php cadastro usuario*/

