@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    height: 100%;
}

body {
    background: rgb(255,255,255);
    background: linear-gradient(82deg, rgba(255,255,255,0) 0%, rgba(189,189,189,1) 80%);
    height: 100%;
    display: flex;
    flex-direction: column;
}

footer{
    flex-shrink: 0;
    bottom: 0;
    width: 100%;
    background: #000;
    color:#fff;
    text-align: center;
    font-size: 00.87em;
    display: inline-block;
}

.content {
    flex: 1 0 auto;
}

/* inicio css do formulario Cadastro*/

/* css do container*/
#containerform{
	width: 400px;
	border-radius: 10px;
	margin: 0 auto;
	margin-top: 30px;
    margin-bottom: 30px;
	text-align: center;
	border: 1px groove #dbdbdb;
}

/* css das caixas de entrada de dados*/
.boxtext{
	height: 25px;
	width: 80%;
	font-size: 18px;
	margin-top: 20px;
	background-color: #fff;
	padding-left: 20px;
	border: 1px groove black;
}

/* css dos label*/
.textformat{
    font-size: 18px;
}

/* css do botão submit*/
input.submit{
	color: #fff;
	background-color: #f79300;
	border-color: 2px solid #db7d00;
	padding: 5px 20px;
	height: 45px;
	width: 90%;

	background: -webkit-linear-gradient(to bottom, #faa600, #f68a00);
	background: -moz-linear-gradient(to bottom, #faa600, #f68a00);
	background: -o-linear-gradient(to bottom, #faa600, #f68a00);
	background: linear-gradient(to bottom, #faa600, #f68a00);
}

/* fim css do formulario Cadastro*/

/* CSS do formulario adulto e criança*/

/* CSS container de formalizacao geral da pagina*/
.container{
    margin: 0 auto;
    width: 960px;
    align-items: center;
    text-align: center;
    white-space: normal;
    vertical-align: top;
    display: grid;
    border: 2px solid black;
    border-radius: 25px;
    box-shadow: 2px 1px 2px lightslategrey;
}

/* CSS codigos de grid*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* CSS de formatacao de grid*/
[class*="col-"] {
    float: left;    
    display:block;
}

/* CSS de formatacao para campo especifico*/
.topo{
    align-self: center;   
    border-color: #CCC #999 #999 #CCC;
    clear: both;
    margin-bottom: 10px;
    padding: 10px;
    align-items: right;
    text-align: left;
    font: bold 16px/20px sans-serif;
    box-shadow: 0px 0px 5px rgb(156, 42, 42);
    text-align: center;
}

/* CSS de formatacao de label*/
label {
    padding: 8px 8px 8px 0;
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
}

/* CSS de formatacao das box type text*/
input[type=text], select, textarea{
    width: 60%;
    padding: 8px;    
    box-sizing: initial;
    resize: vertical;
    height: 15px;
}

/* CSS de alteracao da fonte*/
h3{
    font-weight: bold;
}

/* CSS de alteracao da fonte*/
h4{
    font-weight: bold;
}

/* CSS de borda para campos especificos*/
.pretty{
    border: 1px solid gray;
    border-radius: 15px;
}

/* CSS de centralizacao de campos*/
.centralizar{
    align-self: center;   
    border-color: #CCC #999 #999 #CCC;
    clear: both;
    border: 1px solid gray;
    border-radius: 15px;
    margin-bottom: 10px;    
    padding: 10px;
    align-items: center;
    text-align: center;
    font: bold 16px/20px sans-serif;    
    text-align: center;
}

/* Fim de CSS formulario adulto e crianca*/

