<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>!Dent</title>
         <!-- Metas -->
         <meta http-equiv="X-UA-Compatible" content="IE=edge">
         <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
         <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
 
         <!-- Robots -->
         <meta name="rating" content="General">
         <meta name="robots" content="noindex, nofollow">
         <meta name="revisit-after" content="1">
 
         <!-- Favicon -->
         <link rel="shortcut icon" href="image/favicon.ico" type="image/x-icon" />
 
         <!-- carrega o css -->
         <link rel="stylesheet" type="text/css" href="Public/Resources/css/bootstrap.min.css">
         <link rel="stylesheet" type="text/css" href="Public/Resources/css/custom.css">
 
         <!-- css externo -->
         <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    </head>
    
    <body>

        {% block header %}
            {% include 'layouts/header.html' %}
        {% endblock %}
        
        <div class="content col-md-12">
            {% block content %}

            {% endblock %}
        </div>

        <footer class="footer">
            <div class="container p-0 pb-0">
                <p>&copy;Copyright</p>
                <p>Trabalho feito para a disciplina de Linguagem de Programacao 3</p>
                <section class="mb-0">
                    <a class="btn btn-outline-primary btn-floating" href="#" role="button">
                    <img src="/public/resources/img/image/twitter.png" width="20px">
                    <a class="btn btn-outline-primary btn-floating" href="#" role="button">
                    <img src="/public/resources/img/image/facebook.png" width="20px">
                    </a>
                    <a class="btn btn-outline-primary btn-floating" href="#" role="button">
                    <img src="/public/resources/img/image/linkedin.png" width="20px">
                    </a>
                    <a class="btn btn-outline-danger btn-floating" href="#">
                    <img src="/public/resources/img/image/instagram.png" width="20px">
                    </a>
                </section>
            </div>
        </footer>
    </body>
</html>

<!-- carrega o js  -->
<script src="Public/Resources/js/jquery-3.5.1.slim.min.js"></script>
<script src="Public/Resources/js/bootstrap.bundle.min.js"></script>
<script src="Public/Resources/js/custom.js"></script>