        <footer class="footer">
            <div class="container p-0 pb-0">
                <p>&copy;Copyright</p>
                <p>Trabalho feito para a disciplina de Linguagem de Programacao 3</p>
                <section class="mb-0">
                    <a class="btn btn-outline-primary btn-floating" href="#" role="button">
                    <img src="/Public/resources/img/twitter.png" width="20px">
                    <a class="btn btn-outline-primary btn-floating" href="#" role="button">
                    <img src="/Public/resources/img/facebook.png" width="20px">
                    </a>
                    <a class="btn btn-outline-primary btn-floating" href="#" role="button">
                    <img src="/Public/resources/img/linkedin.png" width="20px">
                    </a>
                    <a class="btn btn-outline-danger btn-floating" href="#">
                    <img src="/Public/resources/img/instagram.png" width="20px">
                    </a>
                </section>
            </div>
        </footer>
    </body>
</html>

<!-- carrega o js  -->
<script src="/Public/resources/js/jquery-3.5.1.slim.min.js"></script>
<script src="/Public/resources/js/bootstrap.bundle.min.js"></script>
<script src="/Public/resources/js/custom.js"></script>