<body>
   <footer class="DesignFooter">
      <div class="site-section">
          <div class="container">
              <div class="row">
                  <div class="col-sm">
                      <a href="#" class="footer-logo">!Dent</a>
                      <p class="copyright">
                          <small>&copy; Copyright</small>
                      </p>
                  </div>

                  <div class="col-sm">
                      <h3>Realizado por:</h3>
                      <ul class="list-unstyled links">
                          <li><a href="https://github.com/Orbeli" target="_blank">Gabriel Orbeli</a></li>
                          <li><a href="https://github.com/Guilherme1-jpg" target="_blank">Guilherme Henrique</a></li>
                          <li><a href="https://github.com/MatheusLotRizzo" target="_blank">Matheus Lot</a></li>
                      </ul>
                  </div>
                  <div class="col-sm">
                    <ul class="list-unstyled links">
                        <li><a href="https://github.com/UlissesSRosa" target="_blank">Ulisses Rosa</a></li>
                        <li><a href="#" target="_blank">Lucas Sanches</a></li>
                    </ul>
                </div>
                  <div class="col-sm">
                      <div class="social">
                          <h3>Disciplina</h3>
                          <ul class="list-unstyled links">
                              <li><a href="#">Linguagem de Programacao 3</a></li>
                          </ul>
                      </div>
                  </div>

                  <div class="col-sm">
                      <h3>Repositorio</h3>
                      <ul class="list-unstyled links">
                          <li><a href="https://github.com/Orbeli/P1-LP3" target="_blank"><img src="/public/resources/img/github.png" width="30px"/></a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
   </footer>
</body>
</html>

<!-- carrega o js  -->
<script src="/Public/resources/js/jquery-3.5.1.slim.min.js"></script>
<script src="/Public/resources/js/bootstrap.bundle.min.js"></script>
<script src="/Public/resources/js/custom.js"></script>